

@model Tarea3.Models.Persona



@using Tarea3.Models

<h2>Form</h2>


@using (@Html.BeginForm("Result", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div>
        @Html.Label("Nombre")
        @Html.TextBoxFor(a => a.Nombre)
    </div>

    <div>
        @Html.Label("Apellido")
        @Html.TextBoxFor(a => a.Apellido)
    </div>

    <div>
        @Html.Label("Cedula")
        @Html.TextBoxFor(a => a.Cedula)

    </div>

    <div>
        @Html.Label("Edad")
        @Html.TextBoxFor(a => a.Edad)

    </div>

    <div>
        @Html.Label("Telefono")
        @Html.TextBoxFor(a => a.Telefono)

    </div>


    <div>
        @Html.Label("Email")
        @Html.TextBoxFor(a => a.Email)

    </div>



    <div>

        @Html.Label("Sexo")
        @Html.DropDownListFor(a => a.Sexo, new SelectList(Enum.GetValues(typeof(Sexo))))

    </div>


    <h1>Estado Civil</h1>
    <div>
        @Html.Label("Casado")
        @Html.RadioButtonFor(a => a.EstadoCivil, "casado")<br />
        @Html.Label("Soltero")
        @Html.RadioButtonFor(a => a.EstadoCivil, "soltero")<br />
        @Html.Label("Viudo")
        @Html.RadioButtonFor(a => a.EstadoCivil, "viudo")<br />
        @Html.Label("Union Libre")
        @Html.RadioButtonFor(a => a.EstadoCivil, "union libre")<br />
        @Html.Label("divorciado")
        @Html.RadioButtonFor(a => a.EstadoCivil, "divorciado")<br />


    </div>

    <h1>Hobbies</h1>

    <div>
        @Html.Label("musica")
        @Html.CheckBoxFor(a => a.Musica)<br>

        @Html.Label("videojuegos")
        @Html.CheckBoxFor(a=>a.VideoJuegos)<br>

        @Html.Label("anime")
        @Html.CheckBoxFor(a=>a.Anime)<br>

    </div>












    <input value="enviar" type="submit" />


}

