@model Tarea3.Models.Persona
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<h3>@Model.Nombre</h3>
<h3>@Model.Apellido</h3>
<h3>@Model.Edad</h3>
<h3>@Model.Cedula</h3>
<h3>@Model.Email</h3>
<h3>@Model.Telefono</h3>
<h3>@Model.EstadoCivil</h3>
<h3>@Model.Sexo</h3>
@if (Model.Musica)
{<h3>Musica</h3>}
@if (Model.Anime)
{<h3>Anime</h3>}
@if (Model.VideoJuegos)
{<h3>VideoJuegos</h3>}




