@model Tarea3.Models.Persona
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<h3>@Model.Nombre</h3>
<h3>@Model.Apellido</h3>
<h3>@Model.Edad</h3>
<h3>@Model.Telefono</h3>
<h3>@Model.EstadoCivil</h3>
<h3>@Model.Email</h3>